# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/

**.tmp/

# Web Project Related
lib/clock.dart
lib/main.dart

# Web related
lib/generated_plugin_registrant.dart

# Android related
**/android/
*.jks

# iOS/XCode related
**/ios/

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
